cas.securityContext.serviceProperties.service=http://cas.800jit.com/ssocenter/services/j_acegi_cas_security_check
# Names of roles allowed to access the CAS service manager
cas.securityContext.serviceProperties.adminRoles=ROLE_ADMIN
cas.securityContext.casProcessingFilterEntryPoint.loginUrl=http://cas.800jit.com/ssocenter/login
cas.securityContext.ticketValidator.casServerUrlPrefix=http://cas.800jit.com/cas


cas.themeResolver.defaultThemeName=default
cas.viewResolver.basename=default_views

host.name=sso

#database.hibernate.dialect=org.hibernate.dialect.OracleDialect
#database.hibernate.dialect=org.hibernate.dialect.MySQLDialect
database.hibernate.dialect=org.hibernate.dialect.HSQLDialect
dababase.oracle.url=jdbc:oracle:thin:@${membership_db_host}:${membership_db_port}:${membership_db_instance}
dababase.oracle.username=${membership_db_username}
dababase.oracle.password=${membership_db_password}
memcache.url=${cas_memcached1_hostandport}